@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

:root {
  --texts-second: #333333;
  --texts-error: #ff5757;
  --texts-hover: #756157;
  --texts-active: rgba(117, 97, 87, 0.3);
  --texts-texts-basic: #000000;
  --texts-background-deafault: #ffffff;
  --texts-background-small: rgba(255, 255, 255, 0.3);
  --texts-background-hover: rgba(255, 255, 255, 0.6);
  --texts-background-active: rgba(255, 255, 255, 0.3);
  --buttons-basic: #756157;
  --buttons-second: #82b3d3;
  --buttons-select: #7db54f;
  --buttons-disabled: #e5e5e5;
  --buttons-brown-hover: #615048;
  --buttons-blue-hover: #68a2ca;
  --buttons-green-hover: #6c9e42;
  --background-basic-1: #ffffff;
  --background-basic-2: rgba(0, 0, 0, 0.3);
  --background-basic-3: #82b3d3;
  --background-basic-4: #05291c;
  --background-second-1: rgba(131, 179, 211, 0.12);
  --background-second-2: rgba(131, 179, 211, 0.2);
  --icons-basic: #000000;
  --icons-second: #83b3d3;
  --icons-text: #7db54f;
  --icons-hover: #756157;
  --icons-active: rgba(117, 97, 87, 0.3);
  --icons-second-hover: #68a2ca;
  --icons-second-active: rgba(104, 162, 202, 0.3);
  --forms-inputs: #3f5e72;
  --forms-elements-1: #e5e5e5;
  --forms-elements-2: #f2f2f2;
}

html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: 400;
  color: var(--texts-texts-basic);
  background-color: var(--background-basic-1);
}

.page-container {
  margin: 0 auto;
  width: 1200px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.main-container {
  flex-grow: 1;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-header {
  display: flex;
  padding: 0 70px;
  position: relative;
}

.header-logo {
  max-width: 140px;
  height: 70px;
  position: absolute;
  margin: -6px;
  z-index: 10;
  top: 6px;
}

.button {
  background-color: var(--texts-hover);
  color: var(--texts-background-deafault);
  border-radius: 4px;
  min-width: 376px;
  min-height: 52px;
}

.title-button {
  font-weight: 700;
  font-size: 20px;
  line-height: 38px;
  text-transform: uppercase;
}

.navigation {
  display: flex;
  font-weight: 700;
  width: 100%;
}

.navigation-list {
  margin: 0;
  padding: 0;
  padding-left: 168px;
  width: 460px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-size: 20px;
  line-height: 22px;
  text-transform: capitalize;
  list-style-type: none;
}

.navigation-user {
  max-width: 310px;
  margin-left: auto;
  justify-content: flex-end;
}

.navigation-link {
  color: var(--texts-texts-basic);
  text-decoration: none;
  padding: 20px 16px;
  display: block;
  box-sizing: border-box;
}

.navigation-user-link {
  box-sizing: border-box;
  min-width: 44px;
  min-height: 64px;
}

.navigation-user-link-search {
  background-image: url(../images/svg/search.svg);
}



.navigation-user-link-favorite-count {
  background-image: url(../images/svg/heart.svg);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  position: relative;
}

.button.navigation-button-link {
  text-decoration: none;
  display: block;
  padding: 8px 34px;
  min-width: 160px;
  min-height: 36px;
  box-sizing: border-box;
}

.navigation-button-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: var(--texts-background-deafault);
}

.favorite-count {
  font-weight: 400;
  font-size: 10px;
  line-height: 10px;
  text-align: center;
  color: var(--texts-background-deafault);
  background: var(--buttons-select);
  border-radius: 50%;
  min-width: 20px;
  min-height: 20px;
  display: block;
  position: absolute;
  top: 11px;
  right: 4px;
  padding-top: 5px;
  box-sizing: border-box;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background-image: url("../images/svg/hero-devider.svg"), url("../images/background/hero-background.jpg");
  min-width: 1200px;
  min-height: 485px;
  background-repeat: no-repeat;
  background-size: 100% auto, cover;
  background-position: center bottom;
  background-color: var(--background-basic-4);
}

.hero-image {
  padding-top: 51px;
  padding-bottom: 82px;
}

.main-lead {
  text-align: center;
  padding: 69px 270px;
}

.main-lead-interes {
  padding: 95px 300px;
}

.lead {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  min-width: 620px;
  margin-bottom: 25px;
}

.lead-interes {
  margin-bottom: 20px;
}

.excerpt {
  margin: 0;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: var(--texts-second);
  margin-bottom: 54px;
}

.excerpt-interes {
  margin-bottom: 54px;
}

.advantages-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.advantages-title {
  margin: 0;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages-item {
  text-align: center;
  background: var(--background-second-1);
  min-height: 385px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 112px 85px;
  box-sizing: border-box;
}

.advantages-description {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: var(--texts-second);
}

.advantages-item-key {
  color: var(--texts-background-deafault);
  background: var(--buttons-second);
  grid-column: 1 / span 3;
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 0;
}

.advantages-item-key-last {
  flex-direction: row-reverse;
}

.advantages-item-key-text {
  padding: 102px 85px;
}

.advantages-description-key {
  color: var(--texts-background-deafault);
}

.advantages-item-middle-block {
  background: var(--background-second-2);
}

.services-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.services-item {
  padding: 183px 80px 85px;
  position: relative;
}

.services-item:nth-child(even) {
  background: var(--background-basic-1);
}

.services-title-residence::before {
  content: url(../images/svg/service-residence.svg);
  position: absolute;
  top: 81px;
  left: 163.5px;
}

.services-title-food::before {
  content: url(../images/svg/service-food.svg);
  position: absolute;
  top: 81px;
  left: 163.5px;
}

.services-title-present::before {
  content: url(../images/svg/service-present.svg);
  position: absolute;
  top: 81px;
  left: 168.5px;
}

.services-description {
  width: 230px;
  margin: 0 auto;
}

.subscription {
  display: flex;
  justify-content: center;
  flex-direction: column;
  box-sizing: border-box;
  text-align: center;
  padding: 96px 258px 104px;
  background-image: url("../images/background/background-subscription.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: var(--background-basic-4);
  min-height: 415px;
  color: var(--texts-background-deafault);
}

.subscription-excerpt {
  color: var(--texts-background-deafault);
  margin-bottom: 54px;
}

.subscription-form {
  display: flex;
}

.button-subscription {
  width: 232px;
  height: 52px;
  padding: 0;
  background: var(--buttons-second);
  border-radius: 0 4px 4px 0;
  color: var(--texts-background-deafault);
}

.subscription-placeholder {
  width: 452px;
  max-height: 52px;
  padding: 0;
  background: var(--forms-elements-2);
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: var(--texts-texts-basic);
  border-radius: 4px 0 0 4px;
}

.page-footer {
  display: flex;
  height: 120px;
  justify-content: center;
  padding: 40px 70px 30px 70px;
  align-items: center;
  text-align: center;
}

.social-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  max-width: 142px;
  padding: 0;
  margin: 0;
  margin-right: 41.5px;
}

.social-link {
  display: block;
  min-width: 47px;
  height: 40px;
  background-position: center;
}

.social-link-vk {
  background-image: url("../images/svg/social-vk.svg");
  background-repeat: no-repeat;
}

.social-link-telegram {
  background-image: url("../images/svg/social-telegram.svg");
  background-repeat: no-repeat;
}

.social-link-youtube {
  background-image: url("../images/svg/social-youtube.svg");
  background-repeat: no-repeat;
}

.contacts-phone {
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  color: var(--texts-texts-basic);
  min-width: 720px;
  min-height: 50px;
  text-decoration: none;
}

.htmlacademy-link {
  background-image: url("../images/svg/logo-htmlacademy.svg");
  background-repeat: no-repeat;
  display: block;
  width: 115px;
  height: 33px;
  margin-left: 41.5px;
}

.inner-header {
  background-color: var(--background-basic-4);
  background-image: url("../images/background/background-inner-header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 412px;
  margin-bottom: 50px;
  padding: 35px 70px 70px;
  box-sizing: border-box;
}

.inner-header-title {
  margin: 0;
  margin-bottom: 8px;
  width: 495px;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: var(--texts-background-deafault);
}

.inner-header-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: var(--texts-background-deafault);
  border-radius: 4px;
  width: 191px;
  height: 36px;
  font-family: inherit;
  background: var(--buttons-second);
}

.transparent-button {
  background-color: transparent;
  border: none;
}

.blreadcrumbs-orderedlist {
  list-style-type: none;
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  display: flex;
  gap: 28px;
}

.blreadcrumbs-item {
  height: 21px;
  min-width: 13px;
}

.blreadcrumbs-item-first {
  background-image: url("../images/svg/breadcrumb-home.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.breadcrumb-link {
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: var(--texts-background-deafault);
}

.catalog-filters {
  display: flex;
  align-items: center;
}

.catalog-filter-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  color: var(--texts-background-deafault);
  margin-bottom: 32px;
}

.catalog-filter-item {
  margin-bottom: 16px;
}

.catalog-filter-item:last-child {
  margin-bottom: 0;
}

.catalog-filter-group {
  border: none;
  margin: 0;
  padding: 0;
  margin-right: 70px;
}

.catalog-filter-group-last {
  margin-right: 140px;
}

.hotels-showing {
  display: flex;
  align-items: center;
  height: 49px;
  padding: 0 70px;
  margin-bottom: 40px;
}

.controll {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: var(--texts-background-deafault);
}

.controll-input {
  margin-right: 16px;
}

.select-control {
  border: 2px solid var(--buttons-disabled);
  border-radius: 4px;
  min-width: 292px;
  height: 49px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 117%;
  color: var(--texts-second);
  margin-right: 70px;
}

.select-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  min-width: 338px;
  margin-right: 200px;
}

.sort-button-list {
  list-style-type: none;
  display: flex;
  gap: 8px;
  padding: 0;
  margin: 0;
}

.sort-button-item {
  width: 48px;
  height: 48px;
  border: 2px solid var(--buttons-disabled);
  border-radius: 4px;
}

.sort-button-item:first-child {
  border: 2px solid var(--texts-texts-basic);
}

.sort-button {
  padding: 14px 12px;
  box-sizing: border-box;
  width: 48px;
  height: 48px;
  display: block;
  background-repeat: no-repeat;
  background-position: center;
}

.sort-button-cards {
  background-image: url(../images/svg/icons-cards.svg);
}

.sort-button-big-labels {
  background-image: url(../images/svg/icons-large.svg);
}

.sort-button-item-list {
  background-image: url(../images/svg/icons-list.svg);
}

.hotels-list {
  margin: 0;
  margin-bottom: 80px;
  list-style-type: none;
  padding: 0 70px;
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 20px;
}

.hotel-card {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  box-sizing: border-box;
}

.hotel-card-link {
  text-decoration: none;
}

.hotel-card-image {
  margin-bottom: 16px;
}

.hotel-card-title {
  color: var(--texts-texts-basic);
  text-transform: capitalize;
  margin: 0;
  margin-bottom: 16px;
}

.hotel-card-type {
  color: var(--texts-second);
}

.wrapper-hotel-card-type {
  display: flex;
  justify-content: space-between;
  width: 300px;
  margin-bottom: 16px;
}

.hotel-link-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: var(--texts-background-deafault);
}

.hotel-card-information {
  background-color: var(--texts-hover);
  border-radius: 4px;
  text-decoration: none;
  display: inline-block;
  padding: 8px 26px;
  box-sizing: border-box;
  width: 140px;
  height: 36px;
  margin-right: auto;
  margin-bottom: 16px;
}

.hotel-link-box-blue {
  background: var(--buttons-second);
  padding: 0;
  margin-right: 0;
}

.hotel-link-box-grey {
  background: var(--forms-elements-2);
}

.hotel-link-title-weight {
  font-weight: 400;
  color: var(--texts-second);
}

.hotel-link-box-green {
  background: var(--buttons-select);
  padding: 0;
  margin-right: 0;
}

.subscription-inner {
  background: var(--texts-background-deafault);
  color: var(--texts-texts-basic);
}

.pagination-list {
  list-style-type: none;
  margin: 0 70px;
  padding: 0;
  display: flex;
  gap: 8px;
}

.pagination-link {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 20px;
  line-height: 180%;
  text-transform: uppercase;
  color: var(--texts-background-deafault);
  text-decoration: none;
  border-radius: 4px;
  width: 60px;
  height: 60px;
  background: var(--buttons-second);
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination-item:nth-last-child(2) .pagination-link {
  background: var(--background-basic-1);
  color: var(--texts-texts-basic);
}

.pagination-current {
  background: var(--forms-elements-2);
  color: var(--texts-texts-basic);
  border-radius: 4px;
}
